__pycache__/
*.pyc
node_modules/
frontend/build/
frontend/dist/
.DS_Store
*.egg-info/
dist/
build/
.env
.vscode/
*.log
log/*.txt
log/*-RSPHYS-*.txt
element/user_count-*.txt
element/funct_count.txt
log/call_log.txt
*.lock
